body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 200px;
  height: 100px;
  margin: 10px;
  background-color: #f4a261;
  border: 2px solid #e76f51;
  border-radius: 10px;
  font-size: 30px;
  color:#264653;
  cursor: pointer;
}

button:hover, button:focus {
  text-decoration: underline;
}
.box {
  width: 100px;
  height: 100px;
  background-color: #2a9d8f;
  border: 2px solid #264653;
  border-radius: 10px;
  text-align: center;
}
